@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    江苏<br />
    智金淇自动化科技有限公司<br />
    <abbr title="Phone">P:</abbr>
    +86 175 2179 0213
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:991011509@qq.com">991011509@qq.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>