@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top:5px">
    <h1>SPC介绍</h1>
    <p class="lead">SPC是Statistical Process Control (统计过程控制) 的简写，控制图是用于分析和判断工序是否处于稳定状态所使用的带有控制界限的图。SPC控制图是对过程质量加以测定、记录从而进行控制管理的一种用科学方法设计的图，是质量控制的行之有效的手段 ，是SPC技术的核心工具。</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-lg-4">
        <h2>维护数据</h2>
        <p>
            维护基础数据，包括公司、部门、用户、检测产品、检测方法、检测参数
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-lg-4">
        <h2>开始使用</h2>
        <p>用户只需点入数据录入界面，录入检测到的数据.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-lg-4">
        <h2>数据展示</h2>
        <p>按照设计的权限架构，拥有集团管理员、事业部管理员、一般用户三种角色，集团管理员可以查看、管理所有事业部的数据与基础数据，事业部管理员可以查看、管理本事业部的数据，一般用户只能够录入数据，查看本部门的趋势图.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>