
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}

<div class="form-group">
    <label for="exampleInputEmail1">请输入您的登录密码</label>
    <input type="text" class="form-control" id="OldPassword" placeholder="原密码">
    @*<small id="emailHelp" class="form-text text-muted">数据最大支持两位小数，</small>*@
    <label for="exampleInputEmail1">请输入新密码</label>
    <input type="text" class="form-control" id="NewPassword" placeholder="新密码">
    <label for="exampleInputEmail1">请再输入一次新密码</label>
    <input type="text" class="form-control" id="NewPassword2" placeholder="新密码确认">
</div>

<script>
    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引

    function AcceptClick() {
        if ($("#OldPassword").val() == "" || $("#NewPassword").val() == undefined || $("#NewPassword2").val() == null) {
            layer.alert('请填写完整信息', { icon: 6 });
            return false;
        }
        if ($("#NewPassword").val() != $("#NewPassword2").val())
        {
            layer.alert('两次新密码不一致，请重新输入', { icon: 6 });
            return false;
        }
        AjaxJson("/Account/ChangePasswordAjax", { OldPassword: $("#OldPassword").val(), NewPassword: $("#NewPassword").val() }, function (data) {
            parent.layer.alert(data.Message, { icon: 6 });
            parent.layer.close(index);
        });
    }
</script>

