<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


    <link href="~/Content/formabout/font/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/formabout/scrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <script src="~/Content/formabout/scrollbar/jquery.mCustomScrollbar.js"></script>
    <script src="~/Content/formabout/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

    <link href="~/Content/formabout/jfGrid/jfgrid.css" rel="stylesheet" />
    <script src="~/Content/formabout/jfGrid/jfgrid.js"></script>

    <script src="~/Scripts/FrameWork.js"></script>
    <script src="~/Scripts/Validator.js"></script>

    @*弹出窗口相关*@
    <link href="~/Scripts/jquery.layer/theme/default/layer.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.layer/layer.js"></script>

    <link href="~/Scripts/datepicker/skin/WdatePicker.css" rel="stylesheet" />
    <script src="~/Scripts/datepicker/WdatePicker.js"></script>

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
